body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../images/cool_background1.png");
}

.container {
    background-color: #fff;
    align-self: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}