<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../styles/menu.css">
<head>
    <title>BitLearn Quiz</title>
</head>
<body>
    <div class="container">
        <h1>Topics for Quiz</h1>
        <div class="topic-buttons">
            <button class="topic-button">Nations And States</button>
            <button class="topic-button">Government Schemes</button>
            <button class="topic-button">Business and Economy</button>
            <button class="topic-button">Defence</button>
            <button class="topic-button">Sports</button>
            <button class="topic-button">Science and Technology</button>
        </div>
    </div>
</body>
</html>
